<div class="fluid-container">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Origin City" aria-label="Number" matInput [formControl]="originCityControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Destination City" aria-label="Number" matInput [formControl]="destinationCityControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="departureDatePicker" placeholder="Depature date">
    <mat-datepicker-toggle matSuffix [for]="departureDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #departureDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="returnDatePicker" placeholder="Reyurn date">
    <mat-datepicker-toggle matSuffix [for]="returnDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #returnDatePicker></mat-datepicker>
  </mat-form-field>

  <div>
    <span> Passengers : {{value}}</span>
      <mat-slider
          name="peronSlider"
          class="example-full-width"
          [disabled]="disabled"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="tickInterval"
          [(ngModel)]="value"
          [vertical]="vertical">
      </mat-slider>
    </div>

  <button mat-flat-button>Search</button>
</form>
</div>
